<!DOCTYPE html>
<html>
<head>
	<title>monitor your stock</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<ul class="nav justify-content-end">
	  <li class="nav-item">
	    <a class="nav-link active" href="/protfolio">Portfolio</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/transection">Transection</a>
	  </li>
	</ul>